/*
在这里编辑主页样式表 
*/
/*
设置body背景 
*/
body{
	/*设置背景图 水平重复*/
	background: url(../img/body-bg.png) repeat-x;
}
/*解决高度塌陷*/
.clearfix:before,
.clearfix:after{
	content: "";
	display: table;
	cleat:both;
	}
/*固定元素宽度 居中*/
.w{ 
	width: 940px;
	margin: 0 auto;
	overflow:hidden;
}
.hearder{
	/*上内边距 */
	padding-top:40px ;
	/*background-color: yellowgreen;
	/*下内边距*/
	padding-bottom:39px ;
}
.logo{
	margin-left:10px ;
}
/*设置导航条*/
.nav{
	float: right;
	/*设置一个上外边距*/
	margin-top: 10px;
}
.nav li{
	/*左浮动*/
	float: left;
	padding:0 10px 8px ;
	/*设置一个左边块*/
	border-left:1px #d6d6d6 dotted;
	
}
.nav a{
	font:bold 15px georgia;
	color: #666;
	/*去除下划线*/
	text-decoration: none;
}
.nav a:hover{
	color: #a1a1a1;
	text-decoration: underline;
}
.nav p{
	font: 12px tahoma;
	color: #b7b7b7;
}
.pointerDiv{
	
}
/*.pointerDiv a{
	float:left;
	width: 17px;
	height: 17px;
	background:url(../img/0.jpg) no-repeat;
	background-color: red;
}
.pointerDiv .active,
.pointerDiv a:hover
{
background:url(../img/0.jpg);no-repeat;	
}
*/
.content{

}
.content h1{
	text-align: center;
	font: 24px blod georgia;
	padding-top: 6px 0 20px 0;
	margin-bottom:38px ;
	background: url(../img/6.jpg) no-repeat bottom center; 
	
	
}
.content .pl , .content .cs , .content .uc ,
.contact .sc , .contact .co , .contact .nu
{
	float: left;
	width: 300px;
	
}
.content .cs, .contact .co {
 margin: 0 20px;
}
.content h2{
	font: 21px georgia;
	color: #11719e;
}
.content .p1{
	color: #8c8c8c;
	font: 12px helvetica;
}
.content .imgDiv{
	background: url(../img/img-bg.png) no-repeat;
	height: 190px;
	width: 299px;
	text-align: center;
	margin: 16px 0px 10px 0px;
	padding-top: 12px;
}
.content .p2{
	height: 92px;
	color: #3e3e3e;
	font: 13px helvetica;
	margin-top:10px ;
}
/*设置按钮的样式*/
.content .lm{
	display: block;
	width: 163px;
	height: 40px;
	background: url(../img/btn.png) no-repeat;
	color: #016999;
	font:14px/40px helvetica;
	text-indent: 1em;
	margin-bottom: 35px;
	text-decoration: none;
}
/*设置联系栏*/
	
.contact{
	background: url(../img/contact-bg.png) no-repeat top center; }
/*联系栏背景*/
.contact .txt{
	background: url(../img/txt-bg.png) no-repeat;
	width: 276px;
	height: 33px;
/*去除默认边框*/
	border: none;
	/*去除默认内边距*/
	padding: 0 10px;
	margin: 0 0 16px  ;
}
.contact .tarea{
	background: url(../img/tarea-bg.png) no-repeat ;	
	width: 276px;
	height: 114px;
	border: none;
	/*去除默认滚动条*/
	overflow: auto;
	/*设置文本域不能调整大小*/
	resize: none;
	padding: 10px;
	margin: 0;
}
.contact .btn{
	 background: url(../img/btn2.png);
	 width: 163px;
	 height: 32px;
	 border: none;
	 padding: 0;
	 margin: 11px 0 23px ;
	 
	 color: white;
	 font: 13px georgia;
	 text-align: left;
	 text-indent: 1em;
	 /*cursor用来设置鼠标的样式*/
	 cursor: pointer;
	
	 }
.contact h2{
	font:18px/1 georgia;
	color: #444;
	/*设置下边块*/
	border-bottom:1px dashed #b3b3b3 ;
	padding: 44px 0 10px 0;
	margin-bottom:15px ;
}
.sc .p1{
	color: #444;
	font: 12px/1 helvetica;
}
.sc .icon{
	/*设置字体大小为0，去除中间空格*/
	font-size: 0;
	margin-top:4px ;
}
.sc .icon a{
	margin-right: 6px ;
}
.sc .nl{
	font: 18px/1 bold "gill sans mt";
	padding: 30px 0 10px;
	
}
.sc .txt{
	margin-top: 22px;
	margin-bottom: 0px; 
} 
.nu img{
	float:left;
	margin-right: 8px;
}
.nu p{
	color: #444;
	font: 12px/1 helvetica;
	height: 58px;
	border-bottom:1px dashed #d3d3d3 ;
	margin-bottom: 14px;
	padding-bottom: 9px;
}
.nu .no-margin{
	margin-bottom: 0;

}
/*设置底部*/
.footer{
	height: 173px;
	background-color: #333;
	border-top:10px solid #4c4c4c ;
}
.footer a ,.footer p{
	color: #999;
	font: 11px helvetica;
	text-decoration: none;
}
.footer p{
	margin-left:8px ;
	margin-right: 23px;
	margin-bottom: 6px;
}
.footer a:hover{
	color: white;
	text-decoration: underline;
}
.footer .w{
	padding-top: 18px;
}
.footer .copy{
	float: right;
}
